
# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Data
data/db/*.db
data/source/inbox/*
data/source/success/*
data/source/failed/*
!data/source/inbox/.gitkeep

# OS
.DS_Store
.idea/
.vscode/

# Config (Secrets)
config/secrets.json
.env
